* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #00feba, #5b548a);
    /* Cool gradient */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 90%;
    max-width: 470px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Nice shadow for depth */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

#location-input {
    border: 0;
    outline: 0;
    background: #c0fff6;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    /* Take up remaining space */
    margin-right: 16px;
    font-size: 18px;
}

#search-btn {
    border: 0;
    outline: 0;
    background: #c0fff6;
    border-radius: 50%;
    /* Make it a circle */
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.2s ease;
}

#search-btn:hover {
    background: #79f0e0;
}

.city {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.temp {
    font-size: 70px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
}

.conditions {
    font-size: 20px;
    color: #666;
    text-transform: capitalize;
}